<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    #login-div {
      border-radius:5px;
      padding-bottom: 10px;
      padding-top: 25%;
    }
    #logo-div {
      border-radius:5px;
      padding-bottom: 10px;
      padding-top: 15%;

    }
    h1 {
      font-size: 200px;
      color: black;

    }
    h2 {
      color: #546784;
      font-style: italic;
    }
    body {
      background-color: white;
      background-image: url("http://img.wallpaperfolder.com/f/41806D3ADB07/16-bit-green-beach-1920x1200px.png");
      background-repeat: no-repeat;
      background-size: 100%;

    }
    input {
      width:300px;
      height: 30px;
    }
  </style>
</head>
<body>



  <% include partials/nav.ejs %>
  <div class="container">
  <div class="row">
    <div id = "login-div" class="col-md-3">

        <div id = "form">
        <section class="loginform">
          <form name="login" action="demo_php" method="post" accept-charset="utf-8" >
          <p> <input id = "text-field" type = "text" placeholder="Username"></p>
          <p> <input id = "text-field" type = "text" placeholder="Password"></p>
          <input id = "login" type="submit" class="btn btn-danger" value="Login">
          <input id = "register" type="submit" class="btn btn-info" value="Register">
        </div>
    </div>
      <div class ="col-md-2"></div>
      <div id = "logo-div" class="col-md-7">

            <h1 class="text-center">uHelp</h1>
            <h2 class="text-center">Hello <%= person %>, welcome to a worse version of cragislist</h2>
            <p1><strong> Age: </Strong><%= data.age%><p1>
            <p1><strong> Job: </Strong><%= data.job%><p1>

      </div>

      <!-- now that we have used up all the 12 coloumbs in this row , lets go create a new "row class" , Alas in the same container -->

  </div>  <!-- end of container -->




</body>
</html>
