#map {
position: absolute;
left: 0;
right: 0;
height:100%;
width:100%
}
body{
height: 100%;
width: 100%
}
h1{
color:black;
}
#map-canvas{
position: absolute;
top: 100px;
left: 0;
bottom: 100px;
right: 0;
}
#form-container{
  background-color:#ededed;
  padding-left:20px;
  padding-right: 20px;
  visibility: hidden;
  width: 100%;
  text-align: left;

  display: inline-block;
}
#overlay{
  height: 100%;
}
input {
  height: 100%;
}
textarea {
   font-size: 18px;
   line-height: 1;
   resize: none;
}



.btn {
    padding: 8px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
.btn.sharp {
  border-radius:0;
}
